{% extends 'main/header.html' %} {% load static %} {% load mathfilters %} {% block 'content' %}
<div class="container">
    <div class="slider">
        <ul class="slides">

            {% for carImage in car.carImage.all %}
            <li>
                <img src="{{carImage.image.url}}">
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col s12 l8">
            <h4>{{car}}</h4>
            <h5>Equipment</h5>
            <p>
                {% for equipment in car.equipment.all %} {{equipment}}, {% endfor %}
            </p>
        </div>
        <div class="col s12 l4" style="border: 1px solid black;">
            <h5>Specifications</h5>
            <div class="row">
                <div class="col s6">
                    <b>Make and Model</b>
                    <p>{{car.model.modelName}}</p>
                </div>
                <div class="col s6">
                    <b>Fuel Type</b>
                    <p>{{car.model.modelFuelType}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <b>Cylinders</b>
                    <p>{{car.model.modelEngineCylinders}}</p>
                </div>
                <div class="col s6">
                    <b>Engine Volume</b>
                    <p>{{car.model.modelEngineVolume}}L</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <b>BHP</b>
                    <p>{{car.model.modelPower}}</p>
                </div>
                <div class="col s6">
                    <b>Production Year</b>
                    <p>{{car.model.modelYear}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <b>Gearbox</b>
                    <p>{{car.model.modelGearbox}}</p>
                </div>
                <div class="col s6">
                    <b>Mileage</b>
                    <p id="carMileage">{{car.milage}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l6"></div>
        <div class="col s12 l6">
            <h5>Monthly Payment</h5>
            <span id="monthlyPaymentValue"></span>
            <form>
                <label for="downPayment">Down Payment</label>
                <p class="range-field">
                <div class="right-align"><span id="downPaymentValue"></span></div>
                <input type="range" id="downPayment" name="downPayment" min="{{car.carNewPrice|mul:0.25}}"
                    max="{{car.carNewPrice|mul:0.5}}" />
                </p>
                <label for="leaseDuration">Lease Duration</label>
                <p class="range-field">
                <div class="right-align"><span id="leaseDurationValue"></span></div>
                <input type="range" id="leaseDuration" name="leaseDuration" min="6" max="36" step="1" value="12" />
                </p>
                <label for="milesPerYear">Miles Per Year</label>
                <p class="range-field">
                <div class="right-align"><span id="milesPerYearValue"></span></div>
                <input type="range" id="milesPerYear" name="milesPerYear" min="5000" max="50000" step="2500"
                    value="10000" />
                </p>
                {% if current_user.is_authenticated %}
                    <a class="waves-effect waves-light btn modal-trigger red lighten-2" id="leaseModalTrigger" href="#modalLeasing">Edit</a>
                {% else %}
                    <a class="waves-effect waves-light btn modal-trigger red lighten-2" href="#loginModal">Edit</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<div id="modalLeasing" class="modal">
    <div class="modal-content">
    <h4>Lease Options</h4>
        <form method="POST">
        {% csrf_token %}
        <label for="start_date">Start date</label>
        <input type="text" name="start_date" class="datepicker" value="{{today}}">
        <label for="end_date">End date</label>
        <input type="text" name="end_date" readonly="readonly">
        <label for="down_payment">Down Payment</label>
        <input type="text" name="down_payment" readonly="readonly">
        <label for="monthly_price">Monthly Price</label>
        <input type="text" name="monthly_price" readonly="readonly">
        <label for="miles_per_year">Miles Per Year</label>
        <input type="text" name="miles_per_year" readonly="readonly">
        <label for="car">Car</label>
        <input type="text" name="car" value="{{car}}" readonly="readonly">
        <label for="customer">Customer</label>
        <input type="text" name="customer" value="{{current_user}}" readonly="readonly">
        <div class="form-actions">
            <button class="btn waves-effect waves-light red lighten-2" type="submit" name="action">Finalize</button>
        </div>
      </form>
    </div>
  </div>
<script>
    $(document).ready(function () {
        $('.slider').slider()

        document.getElementById('monthlyPaymentValue').innerHTML = calculateMonthlyPayment() + " GBP/Month"
        document.getElementById('downPaymentValue').innerHTML = $('#downPayment').val() + " GBP"
        document.getElementById('leaseDurationValue').innerHTML = $('#leaseDuration').val() + " Months"
        document.getElementById('milesPerYearValue').innerHTML = $('#milesPerYear').val() + " Miles/Year"

        $('#downPayment').on('input', function () {
            document.getElementById('downPaymentValue').innerHTML = $(this).val() + " GBP"
            document.getElementById('monthlyPaymentValue').innerHTML = calculateMonthlyPayment() + " GBP/Month"
        })

        $('#leaseDuration').on('input', function () {
            document.getElementById('leaseDurationValue').innerHTML = $(this).val() + " Months"
            document.getElementById('monthlyPaymentValue').innerHTML = calculateMonthlyPayment() + " GBP/Month"
        })

        $('#milesPerYear').on('input', function () {
            document.getElementById('milesPerYearValue').innerHTML = $(this).val() + " Miles/Year"
            document.getElementById('monthlyPaymentValue').innerHTML = calculateMonthlyPayment() + " GBP/Month"
        })

        $('#leaseModalTrigger').on('click', function(){
            // Values are taken from price calculator
            $('input[name="down_payment"]').val($('#downPayment').val())
            $('input[name="monthly_price"]').val(calculateMonthlyPayment())
            $('input[name="miles_per_year"]').val($('#milesPerYear').val())

            var dt = new Date($('input[name="start_date"]').val())
            var ndt = new Date(dt.setMonth(dt.getMonth() + Number($('#leaseDuration').val())))
            var dateString = ndt.toISOString().split('T')[0]
            
            $('input[name="end_date"]').val(dateString)
        })

        $('input[name="start_date"]').on('change', function(){
            var dt = new Date($('input[name="start_date"]').val())
            var ndt = new Date(dt.setMonth(dt.getMonth() + Number($('#leaseDuration').val())))
            var dateString = ndt.toISOString().split('T')[0]
            
            $('input[name="end_date"]').val(dateString)
        })

        function calculateMonthlyPayment() {
            var downPayment = $('#downPayment').val()
            var leaseDuration = $('#leaseDuration').val()
            var milesPerYear = $('#milesPerYear').val()
            var carPrice = {{car.carNewPrice}}
            var impairmentPercent = -0.5 * (milesPerYear * 0.001) + 95
            var residual = carPrice * impairmentPercent * 0.01

            var cost = carPrice - residual
            var costPeriod = cost - downPayment
            var taxPrice = 0.009 * carPrice * 0.05
            var periodPayment = costPeriod + residual
            var monthlyPayment = (periodPayment / leaseDuration) + taxPrice + (milesPerYear * 0.05)

            return monthlyPayment.toFixed(0)
        }
    })
</script>
<script>$(document).ready(function(){$('.datepicker').datepicker({format: 'yyyy-mm-dd', container: 'body'})})</script>
{% endblock 'content' %}