<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>A/M Leasing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c16b59f4d0.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{% url 'main:homepage' %}" class="brand-logo"><img id="navlogo" src="{% static 'img/a-m_leasing.png' %}"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{% url 'main:homepage' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="{% url 'main:private_leasing' %}"><i class="fas fa-car-side"></i> Private Leasing</a></li>
                        <li><a href="{% url 'main:business_leasing' %}"><i class="fas fa-truck"></i> Business Leasing</a></li>
                        <li><a href="{% url 'main:contact' %}"><i class="fas fa-phone"></i> Contact Us</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'main:profile' %}"><i class="fas fa-user"></i> {{user.username|capfirst}}</a></li>
                        <li><a href="{% url 'main:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        {% else %}
                        <li><a class="waves-effect waves-light modal-trigger" href="#loginModal"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div id="loginModal" class="modal">
                <div class="modal-content">
                    <form id="login" class="" method="POST" action="/login">
                        <h4>Login</h4>
                        {% csrf_token %}
                        {{loginForm.as_p}}
                        <div class="col s12">
                            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
                            <p class="center">Not registered? <a class="modal-trigger"href="#signupModal">Create an account</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <div id="signupModal" class="modal">
                <div class="modal-content">
                    <form id="signupModal" class="" method="POST" action="/register">
                        <h4>Sign Up</h4>
                        {% csrf_token %}
                        {{registerUser.as_p}}
                        {{registerProfile.as_p}}
                        <div class="col s12">
                            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal trigger -->
            <script>$(document).ready(function(){$('.modal').modal();});</script>
        </header>
        <main>
            {% if messages %}
                {% for message in messages %}
                    <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:3000});</script>
                {% endfor %}
            {% endif %}
            {% block 'content' %}
            {% endblock 'content' %}
        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2021 A/M Leasing
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script>$(document).ready(function() { $("#navlogo").css("height", $(".nav-wrapper").height()); });</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>