{% extends 'main/header.html' %}
{% load static %}
{% block 'content' %}
<div class="row">
    {% for car in cars %}
    <div class="col s6 m3">
        <div class="card">
            <div class="card-image">
                <!--<img src="{% static 'img/ford/Focus SCTi 350 RS/side-view-ford-focus-SCTi-350-RS.jpg' %}">-->
                {% for carImage in car.carImage.all %}
                    {% if forloop.first %}
                    <img src="{{carImage.image.url}}">
                    {% endif %}
                {% endfor %}
                

            </div>
            <div class="card-content">
                <span class="card-title">{{car.model.modelBrand}} {{car.model.modelName}}</span>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col s12 m6">
                        <p><i class="fas fa-tachometer-alt"></i> {{car.milage}} Miles</p>
                    </div>
                    <div class="col s12 m6">
                        <p><i class="far fa-calendar-alt"></i> {{car.model.modelYear}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <p><i class="fas fa-gas-pump"></i> {{car.model.modelFuelType}}</p>
                    </div>
                    <div class="col s12 m6">
                        <p><i class="fas fa-horse-head"></i> {{car.model.modelPower}} BHP</p>
                    </div>
                </div>
                <a class="btn waves-effect waves-light red lighten-2" href="cars/{{car.id}}">More information</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock 'content' %}